# Climate Jukebox Analyses

In this forked repo, I'm planning on running some analyses on the Climate Jukebox dataset, a collection of songs related to climate change. Let's see if we can find anything fun!

**UNDER CONSTRUCTION**

In [29]:
# Imports
import json
import numpy as np
import pandas as pd
import plotly.express as px
from umap import UMAP

In [42]:
# Read in the csv and view its structure.
df = pd.read_csv("../data/climatejukebox_latest.csv")
df.head()

,Song Title,Artist,Album,Year,Popularity,Genres,Themes
0,1.5,Sirintip,carbon,2022,14.0,"Pop, Electronic",Warming
1,21st Century,The Living End,White Noise,2008,4.0,"Punk, Rock",Warming
2,4 Degrees,ANOHNI,HOPELESSNESS,2016,14.0,Pop,Warming
3,99 In October,The RTs,See You Again,2020,2.0,"Indie, Rock",Warming
4,A Beautiful Lie,30 Seconds to Mars,A Beautiful Lie,2005,62.0,"Rock, Alternative Rock",Melting Ice

In [35]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Song Title  220 non-null    str
 1   Artist      220 non-null    str
 2   Album       220 non-null    str
 3   Year        220 non-null    int64
 4   Popularity  205 non-null    float64
 5   Genres      215 non-null    str
 6   Themes      218 non-null    str
dtypes: float64(1), int64(1), str(5)
memory usage: 12.2 KB

Rows of the CSV correspond to songs, with the following columns:
- Song Title: The title of the song.
- Artist: The artist who wrote the song.
- Album: The album the song appears on.
- Year: The year the song was released.
- Popularity: The Spotify popularity score of the song.
- Genres: The genres of the song, comma-delimited.
- Themes: Which climate themes are present in the song, comma-delimited

Now, deal with NaNs and missing values

In [ ]:
# Deal with NaNs/missing values

In [43]:
# Split comma-delimited values for cells with multiple values.
df['Genres'] = df['Genres'].str.split(",").apply(lambda x: [v.strip() for v in x])
df['Themes'] = df['Themes'].str.split(",").apply(lambda x: [v.strip() for v in x])

TypeError: 'float' object is not iterable

I'm choosing to break convention here and keep multiple values per row in Genres and Themes.

## Descriptive Statistics

In [41]:
df.Genres.explode().unique().tolist()

['Pop',
 ' Electronic',
 'Punk',
 ' Rock',
 'Indie',
 'Rock',
 ' Alternative Rock',
 'Folk',
 ' Singer-Songwriter',
 'Electronic',
 ' Soundtrack',
 'Heavy Metal',
 'Christmas',
 ' Pop',
 'Alternative Rock',
 'Hip Hop',
 ' Heavy Metal',
 'R&B',
 'Musicals',
 nan,
 ' Hip Hop',
 'Singer-Songwriter',
 'Jazz',
 ' R&B',
 'Reggae',
 ' Musicals',
 ' Indie',
 'Country',
 ' Christmas',
 ' Folk',
 ' K-pop',
 'Soundtrack',
 'World',
 ' Punk',
 ' Reggae',
 'K-pop',
 ' Country']

## Plots